.footer {
  padding: 60px 0 60px;
  background-color: #222222;

  &__social-web {
    display: flex;
    justify-content: center;

    img:last-child {
      border-right: none;
    }

    img {
      padding: 0 15px;
      border-right: 1px solid #fff;
    }
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
}
