$white: #fff;
$white-half: rgba(255, 255, 255, 0.5);
$blue: #10c6fc;
$dark-blue: #002453;
$light-blue: #f2f6ff;
$green: #79d837;
$red: #f56877;
$gray: #7481a3;
$input-border: rgba(255, 255, 255, 0.3);
$warning: #ffd500;
$red: rgb(248, 8, 56);
$lilac: #835aeb;
$aqua: #64cbc0;
$indie: "Indie Flower", cursive;
